body {
font-family: 'Lato', sans-serif;
}
    
.dl_link:visited {
color: #2ac7ff;
}
    
.dl_link:link {
color: #2ac7ff;
}
    
.category {
font-family: 'Fira Sans', sans-serif;
}
    
.error-head {
font-family: 'Fira Sans', sans-serif;
}